:root {
  /* background colors */
  --black-0: #1E1E1E;
  --black-1: #252526;
  --black-2: #2D2D2D;
  --black-3: #333333;
  --black-4: #3C3C3C;
  --black-5: #474748;

  /* text colors */
  --red-0: #CE9178;
  --gold-0: #CBBA5E;
  --green-0: #6A8A35;
  --cyan-0: #8CDCDA;
  --blue-0: #0E81CF;
  --blue-1: #3CA9F2;
  --blue-2: #569CD6;
  --gray-0: #898989;
  --gray-1: #BFBFBF;
  --gray-2: #C5C5C5;
  --white-0: #D4D4D4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: monospace;
  color: var(--white-0);
  background-color: var(--black-0);
}

p {
  font-size: 24px;
}

header {
  padding: 20px 35px;
  background-color: var(--black-1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

header a {
  color: var(--gray-0);
}

header h1 a {
  color: var(--blue-1);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px; /* was margin: 0 30px; */
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  color: var(--white-0);
}

.hero {
  background-image: url(../images/binary-code.jpg);
  height: 256px;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  padding: 32px 64px;
}

section h2 {
  font-size: 32px;
  color: var(--red-0);
  text-align: center;
}

.about {
  display: inline-block;
}

.about-info {
  display: flex;
  align-items: center;
}

.about img {
  width: 20%;
  height: auto;
  float: left;
}

.about p {
  width: 80%;
  padding: 32px;
  float: right;
}

.work a {
  color: var(--gold);
}

.work a:hover {
  color: var(--blue-0);
}

.work h3 {
  font-size: 24px;
  color: var(--gold-0);
}

.work h4 {
  font-size: 18px;
}

.work-featured {
  text-align: center;
}

.work-pair {
  display: flex;
  justify-content: space-around;
}

.contact ul {
  text-align: center;
}

.contact ul li {
  display: inline;
}

.contact ul li a {
  margin: 0 30px;
  font-size: 24px;
  color: var(--white-0);
}

.contact ul li a:hover {
  color: var(--cyan-0);
}

footer {
  width: 100%;
  padding: 40px 35px;
  line-height: 1.5;
  text-align: center;
  /* add display: flex? */
  /* add justify-content: space-between? */
  /* add flex-wrap: wrap? */
}

footer h2 {
  display: inline;  /* remove? */
  color: var(--green-0);
  font-size: 24px;
  margin: 0;
}

/* media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2 {
    text-align: center;
    width: 100%;
  }
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {

}